@import "../variables";

.open-chip {
  color: white !important;
  background-color: $green !important;
}

.closed-chip {
  color: white !important;
  background-color: $red !important;
}

.refunded-chip {
  color: white !important;
  background-color: $orange !important;
}

.pledged-chip {
  color: white !important;
  background-color: $orange !important;
}

.tokens-chip {
  color: white !important;
  background-color: $orange !important;
}

.cancelled-chip {
  color: white !important;
  background-color: $grey !important;
}
